In [13]:
import pandas as pd

In [22]:
file_path1='./divorce.csv'
file_path2='./divorce.csv'

In [25]:
df1=pd.read_csv(file_path, encoding='cp949')
df1

,성별,연령별,2017,2017.1,2017.2,2017.3,2017.4,2017.5,2017.6,2017.7,2017.8
0,성별,연령별,계,배우자 부정,정신적육체적 학대,가족간 불화,경제문제,성격차이,건강문제,기타,미상
1,남편,계,106032,7528,3837,7523,10742,45676,594,21195,8937
2,남편,15세 미만,0,0,0,0,0,0,0,0,0
3,남편,15 - 19세,28,2,2,1,2,17,0,3,1
4,남편,20 - 24세,1065,87,49,102,53,508,3,217,46
5,남편,25 - 29세,3329,302,119,301,208,1574,7,617,201
6,남편,30 - 34세,8817,741,303,675,562,4312,18,1650,556
7,남편,35 - 39세,14581,1182,488,1080,1187,6793,58,2809,984
8,남편,40 - 44세,16738,1276,555,1237,1596,7341,60,3429,1244
9,남편,45 - 49세,19776,1237,633,1385,2336,8367,117,4071,1630
10,남편,50 - 54세,16122,1061,581,1032,1929,6716,93,3245,1465
11,남편,55 - 59세,11997,830,521,791,1488,4732,88,2351,1196
12,남편,60 - 64세,6696,422,309,461,719,2601,65,1373,746
13,남편,65 - 69세,3680,229,141,241,382,1484,34,754,415
14,남편,70 - 74세,1926,100,85,125,171,764,28,368,285
15,남편,75세 이상,1277,59,51,92,109,467,23,308,168
16,남편,미상,0,0,0,0,0,0,0,0,0
17,아내,계,106032,7528,3837,7523,10742,45676,594,21195,8937
18,아내,15세 미만,0,0,0,0,0,0,0,0,0
19,아내,15 - 19세,176,17,4,17,6,62,0,61,9
20,아내,20 - 24세,2782,227,102,264,127,1182,8,720,152
21,아내,25 - 29세,7126,619,245,576,409,3289,24,1502,462
22,아내,30 - 34세,12857,998,483,973,889,6118,41,2462,893
23,아내,35 - 39세,16870,1319,585,1218,1582,7650,69,3213,1234
24,아내,40 - 44세,18096,1240,619,1316,2023,7833,93,3618,1354
25,아내,45 - 49세,18339,1134,592,1187,2289,7722,101,3649,1665
26,아내,50 - 54세,12766,869,482,824,1567,5179,92,2489,1264
27,아내,55 - 59세,8884,623,363,603,1022,3474,76,1799,924
28,아내,60 - 64세,4709,301,206,316,541,1833,48,927,537
29,아내,65 - 69세,2146,116,105,133,179,868,21,455,269
30,아내,70 - 74세,892,43,37,64,78,339,16,200,115
31,아내,75세 이상,389,22,14,32,30,127,5,100,59
32,아내,미상,0,0,0,0,0,0,0,0,0